rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /campaigns/{campaignId} {
      // Is userId really always present and correct on existing docs? Yes, enforced by create rule.
      allow read, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      allow update: if request.auth != null && request.auth.uid == resource.data.userId && request.resource.data.userId == resource.data.userId; // Prevent changing userId
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
  }
}